@using BasaranOtomotiv.Entities.Concerete
@model List<Vehicle>
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<div class="wrap-box">
    <div class="basaran">
        <div class="header">
            <center><h2>Araçlar</h2></center>
        </div>
        <div class="row">
            <div class="col-1-1">
                <div class="wrap-col">
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="item">
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <a href="/UserView/VehicleDetail/@item.VehicleId">
                                            <div class="item-caption">
                                                <div class="item-caption-inner">
                                                    <div class="item-caption-inner1">
                                                        <span>@item.VehicleHeading</span>
                                                        <span>@item.VehicleDistance @item.VehicleDistanceUnit</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <img style="width:500px; height:250px;" src="@item.VehiclePictures.First().VehiclePicturePath" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-2-3">
                                    <div class="wrap-col">
                                        <div class="item-info">
                                            <a href="/UserView/VehicleDetail/@item.VehicleId"><h3>@item.Company.CompanyName @item.Model.ModelName</h3></a>
                                            <p>Fiyatı: @item.VehicleValue @item.VehicleValueUnit</p>
                                            <p>@item.VehicleDetail</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                    }

                </div>

            </div>

        </div>

    </div>
</div>


