@model BasaranOtomotiv.Entities.Concerete.Engine
@{
    ViewBag.Title = "AddEngine";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<center><h2>Yeni Motor Ekleme Sayfası</h2></center>
@using (Html.BeginForm("AddEngine", "AdminEngine", FormMethod.Post))
{
    <div class="form-group">
        <br />
        @Html.Label("Motor Adı Giriniz:")
        @Html.TextBoxFor(engine=>engine.EngineName, new { @class = "form-control" })
        @Html.ValidationMessageFor(engine => engine.EngineName)
        <br />
        @Html.Label("Üst Kategorisini Seçiniz:")
        @Html.DropDownListFor(model=>model.ModelId, (List<SelectListItem>)ViewBag.models, new { @class = "form-control" })
        <button class="btn-info">Oluştur</button>
    </div>
}


